<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eos, hic inventore perferendis vitae voluptatum! Deleniti ducimus ea eum, ex natus numquam pariatur possimus, repudiandae saepe vel veniam veritatis? Nisi.</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="logo"/>
</body>
</html>